@import (reference) url('../bootstrap/variables.less');
@import (reference) url('../bootstrap/mixins/grid.less');

.packages {
    .make-row();

    ul {
        list-style: none;
        padding: 0;
    }

    .package {
        position: relative;
        clear: both;
        overflow: auto;
        padding: 10px 10px 10px 50px;
        border-bottom: solid 1px #ddd;

        &:last-child {
            border-bottom: none;
        }

        &:nth-child(even) {
            background-color: rgba(0,0,0,.02);
        }


        img {
            position: absolute;
            left: 9px;
            top: 20px;
        }

        .package-info {
            .make-sm-column(7);
            -ms-word-break: break-all;
            word-break: break-all;
        }

        .package-other-info {
            .make-sm-column(5);
        }
    }
}
