@import (reference) url('../bootstrap/variables.less');
@import (reference) url('../bootstrap/mixins/grid.less');

.packages {
    .make-row();

    ul {
        list-style: none;
        padding: 0;
    }

    .package {
        display: inline-block;
        float: left;
        position: relative;
        overflow: auto;
        padding:5px;
        width: 33.3333%;

        .package-content {
            box-shadow: 1px 1px 10px rgba(0,0,0,.1);
            padding: 10px 30px 10px 50px;

            &:last-child {
                border-bottom: none;
            }


            img {
                position: absolute;
                left: 15px;
                top: 20px;
            }

            .package-info a {
                -ms-word-break: break-all;
                word-break: break-all;
            }
        }
    }

    .package:nth-child(4n) > div {
        background-color: #fff;
    }

    .package:nth-child(4n+1) > div {
        background-color: #f9f9f9;
    }

    .package:nth-child(4n+2) > div {
        background-color: #f6f6f6;
    }

    .package:nth-child(4n+3) > div {
        background-color: #fcfcfc;
    }

    @media (max-width:1200px) {
        .package {
            width: 50%;
        }
    }

    @media (max-width:900px) {
        .package {
            width: 100%;
        }
    }
}
