<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="antix.code" version="7.0.0-b98" targetFramework="net45" />
  <package id="antix.http.code" version="7.0.0-b98" targetFramework="net45" />
  <package id="antix.security.code" version="7.0.0-b98" targetFramework="net45" />
  <package id="antix.services.code" version="7.0.0-b98" targetFramework="net45" />
  <package id="antix.signalr.code" version="7.0.0-b98" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>