@using System.Web.Optimization
<!DOCTYPE html>

<html ng-app="nugetServer">
<head>
    <link rel="icon"
          type="image/png"
          href="Content/branding/logo-icon-32x32.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antix Nuget Server</title>

    @Styles.Render("~/bundles/styles")
</head>
<body ng-controller="AppController" scroll-top>
    <div id="PageHeader" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-nav">
                <a class="navbar-brand" href="/#/">
                    NuGet Server
                </a>
            </div>
            <div class="navbar-nav navbar-right">
                <a href="https://github.com/MrAntix/antix-nuget"
                   class="icon icon-only icon-github">on GitHub</a>
            </div>
        </div>
    </div>

    <div class="view-container container">
        <a-status></a-status>

        <div ui-view class="view-frame">

        </div>
    </div>

    @Scripts.Render("~/bundles/scripts")
    <script src="/signalr/hubs"></script>
</body>
</html>
